<html>
    <head>
        <title>Blog do Workshop Django Girls DF</title>
    </head>
    
    <body>
      
        <div>
            <h1><a href="/">Blog do Workshop Django Girls DF</a></h1>
        </div>

        <div>
            <p>Publicado em: DD/MM às HH:MM</p>
            <h2><a href="">Post número 1</a></h2>
            <p>Apostamos que você usa a Internet todos os dias. Mas você sabe realmente o que acontece quando digita um endereço como https://djangogirls.org em seu navegador e aperta Enter?
                <br>
                A primeira coisa que você precisa entender é que um site é só um monte de arquivos salvos em um disco rígido. Igual a seus filmes, músicas, ou imagens. No entanto, há uma parte que é exclusiva para sites: ela inclui códigos de computador chamados HTML.
                <br>
                Se você não estiver familiarizada com programação, pode ser difícil compreender o HTML no começo, mas seus navegadores da web (como o Chrome, Safari, Firefox, etc) amam ele. Os navegadores da Web são projetados para entender esse código, seguir suas instruções e apresentar esses arquivos de que seu site é feito, exatamente como você quer.
                <br>
                Como qualquer arquivo, os arquivos HTML precisam ser armazenados num disco rígido. Para a internet, usamos poderosos computadores especiais chamados servidores. Eles não têm uma tela, um mouse ou um teclado, porque sua finalidade principal é armazenar dados e servi-los. É por isso que eles são chamados de servidores -- eles servem dados a você.
                <br>
                OK, mas você quer saber com o quê a internet se parece, certo?</p>
        </div>
        <hr>
        <div>
            <p>Publicado em: DD/MM às HH:MM</p>
            <h2><a href="">Post número 2</a></h2>
            <p>Apostamos que você usa a Internet todos os dias. Mas você sabe realmente o que acontece quando digita um endereço como https://djangogirls.org em seu navegador e aperta Enter?
                <br>
                A primeira coisa que você precisa entender é que um site é só um monte de arquivos salvos em um disco rígido. Igual a seus filmes, músicas, ou imagens. No entanto, há uma parte que é exclusiva para sites: ela inclui códigos de computador chamados HTML.
                <br>
                Se você não estiver familiarizada com programação, pode ser difícil compreender o HTML no começo, mas seus navegadores da web (como o Chrome, Safari, Firefox, etc) amam ele. Os navegadores da Web são projetados para entender esse código, seguir suas instruções e apresentar esses arquivos de que seu site é feito, exatamente como você quer.
                <br>
                Como qualquer arquivo, os arquivos HTML precisam ser armazenados num disco rígido. Para a internet, usamos poderosos computadores especiais chamados servidores. Eles não têm uma tela, um mouse ou um teclado, porque sua finalidade principal é armazenar dados e servi-los. É por isso que eles são chamados de servidores -- eles servem dados a você.
                <br>
                OK, mas você quer saber com o quê a internet se parece, certo?</p>
        </div>
        
    </body>
</html>